# **1012 Exercises 4110E201**

# **Python List remove()**

Exercise 1: Remove element from the list

In [2]:
# animlas list
animals = ['dog', 'cat', 'lion', 'tiger']

# 'lion' is removed
animals.remove('lion')


# Updated animals List
print('Updated animals list: ', animals)

Updated animals list:  ['dog', 'cat', 'tiger']

Updated fruits list: ['watermelon', 'apple', 'grapes']

Exercise 2: remove() method on a list having duplicate elements

In [3]:
# animals list
animals = ['dog', 'cat', 'cat', 'lion', 'cat']

# 'cat' is removed
animals.remove('cat')


# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['dog', 'cat', 'lion', 'cat']

Updated fruits list: ['watermelon', 'apple', 'grapes']

Exercise 2: remove() method on a list having duplicate elements

In [4]:
# animals list
animals = ['dog', 'cat', 'cat', 'lion', 'cat']

# 'cat' is removed
animals.remove('cat')


# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['dog', 'cat', 'lion', 'cat']

Updated fruits list: ['watermelon', 'apple', 'orange', 'apple']

Exercise 3: Deleting element that doesn't exist

In [5]:
animals list
animals =['dog', 'cat', 'lion', 'tiger']

# Deleting 'bird' element
animals.remove('bird')

# Updated animals list
print('Updated animals list: ', animals)

SyntaxError: ignored